{% extends 'base.html' %}
{% load static %}

{% block title %}| Create News{% endblock title %}

{% block content %}

    <style>
        ul {
            list-style: none;
            padding: 0;
            color: red;
        }
    </style>


    <h3 class="mb-4">Create news</h3>

    <form action="{% url 'create_news' %}" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {{ form.as_p }}

        <div>
            <button type="submit" class="btn btn-success w-100">Create</button>
        </div>
        

    </form>

{% endblock content %}